<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Campaign Scheduling Feature Suite">
    <test name="Functional Tests">
        <classes>
            <class name="functional-tests.Campaign Creation and Management.CampaignSchedulerTests"/>
            <class name="functional-tests.Campaign Creation and Management.CancelScheduledCampaign"/>
            <class name="functional-tests.Campaign Creation and Management.EditCampaignDetails"/>
            <class name="functional-tests.Campaign Creation and Management.ViewCampaignDetails"/>
            <class name="functional-tests.Email Template Selection.SelectEmailTemplate"/>
            <class name="functional-tests.Recipient List Selection.SelectRecipientList"/>
        </classes>
    </test>

    <test name="Automated UI Tests">
        <classes>
            <class name="automated-ui-test.Campaign Creation Form.FieldValidation"/>
            <class name="automated-ui-test.Campaign Creation Form.verifyFormFields"/>
            <class name="automated-ui-test.Email Template Selection.VerifyTemplateSelection"/>
            <class name="automated-ui-test.Recipient List Selection.VerifyDropdownSelection"/>
            <class name="automated-ui-test.Responsive Design.VerifyDesktopResponsiveness"/>
            <class name="automated-ui-test.Responsive Design.VerifyMobileResponsiveness"/>
            <class name="automated-ui-test.Usability.VerifyEaseOfUse"/>
        </classes>
    </test>

    <test name="Integration Tests">
        <classes>
            <class name="integration-tests.CampaignSchedulerIntegrationTests"/>
        </classes>
    </test>
</suite>
